body {
    margin: 0;
    font-family: Arial;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    width: 100%;
    height: 48px;
    background: #577590;
    /* background-color: #f2a541; */
    justify-content: space-between;
}

span {
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    /* font-weight: 200; */
}

header > div {
    margin: 0 12px;
}

.header-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.header-middle {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    border-radius: 50%;
    height: 80%;
    box-sizing: border-box;
    max-width: 42px;
    vertical-align: middle; 
}

.search-button {
    height: 80%;
    max-width: 42px;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #888;
    border-radius: 0 4px 4px 0;
}

.header-middle > input {
    width: calc(100% - 42px);
    max-width: 512px;
    height: 80%;
    font-size: 20px;
    padding: 4px 8px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

input:focus {
    outline: none;
}

.sort-dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.sort-button {
    height: 100%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 6px 0;
    box-sizing: border-box;
}

.sort-dropdown-items {
    display: none;
    right: -16px;
    position: absolute;
    background-color: lightblue;
    text-align: right;
    z-index: 9;
}

.sort-dropdown:hover .sort-dropdown-items {
    display: block;
}

.sort-dropdown-items > a {
    display: block;
    text-decoration: none;
    margin: 4px 8px;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    column-gap: 16px;
    row-gap: 40px;
    margin: 16px;
    /* background-color: #e6e6e6; */
    background-color: light gray;
    /* top: auto; */
}

.restaurant-preview {
    /* border: 2px solid black; */
    padding: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    box-shadow: chocolate;
    border-radius: 5px-;
    border: 2px solid #577590;
    box-sizing: border-box;
    /* background: #f2a541; */
    /* background: #577590; */
    border-radius: 5px;
}

.restaurant-image {
    border-bottom: 1px solid #577590;
    position: relative;
}

.restaurant-image > img {
    width: 100%;
    height: 200px;
    padding: 15px;
    object-fit: contain;
}

.favorite-button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    z-index: 1;
}

.favorite-button > img {
    width: 32px;
    height: 32px;
    background: none;
}

.restaurant-logo {
    height: 50px;
    object-fit: cover;
}

.restaurant-name {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 8px 0;
    text-align: center;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0;
    padding-bottom: 8px;
    border-bottom: 2px solid #CCC;
}

.restaurant-view {
    display: flex;
    justify-content: center;
}

.restaurant-view-button {
    width: 50%;
    height: px;
    font-size: 18px;
    padding: 8px 0;
    text-align: center;
    border: 2px solid grey;
    color: inherit;
    /* background-color: #F3CA40; */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.restaurant-view-button:hover {
    background-color: #EAEAEA;
}

.intro {
    /* width:100%; */
    /* min-height: 100vh; */
    /* height: 200px; */
    display:flex;
    /* margin: 30px; */
    padding: 20px;
    gap: 20px;
    background-color: #e6e6e6;
    justify-content: space-evenly;
    max-height: 320px;
    /* align-items: center; */
}

.intro img {
    /* width:100%; */
    /* min-height:100vh; */
    /* position:absolute; */
    /* z-index: -2; */
    animation: rotation 8s infinite linear;
    width: 240px;
    height: 240px;
}

@keyframes rotation {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(359deg);
  }
}


.intro-content {
    /* width: 80%; */
    /* height:400px; */
    /* top: 50%; */
    margin: auto 0px;
    gap: 20px;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.heading {
    /* font-size:100px; */
    /* color:#FFF; */
    display: flex;
    flex-direction: column;
}

.heading span:nth-child(2) {
    overflow-wrap:none;
}

#search-input {
    text-overflow:ellipsis;
}

@media (max-width: 463px) {
    .heading span {
        font-size: 6.4vw;
    }

    .heading span:nth-child(2) {
        font-size: 5vw;
    }
}

@media (max-width: 669px) {
    .intro img {
        display: none !important;
    }
}

@media (max-width: 827px) {
    .heading span {
        white-space: nowrap;
    }
}