body {
  font-family: Arial;
  background-color: #F2A541;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 > span {
font-style: italic; 
}

h4 {
text-align: start;
position: relative;
top: 8px;
right: 32px;
}

@media (max-width: 639px) {
  .container {
    height: fit-content !important;
  }

  .container-information {
    height: fit-content !important;
    margin-bottom: 32px;
  }

  .eats-title {
    height: fit-content !important;
  }

  .eats-title > div {
    height: fit-content !important;
  }
}

.container {
  width: 90vw;
  height: 95vh;
  padding: 4px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  flex-wrap: wrap;
  /*text-align: center;*/
}

.container-information {
  flex: 1;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 284px;
}

.container-information > div {
  min-width: 284px;
}

.eats-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

h1 {
  font-size: max(64px, 10vw);
  margin: 0;
  font-weight: 600;
}

h4 {
  font-size: max(24px, 2vw);
  margin: 0;
}

.container-login {
  display: flex;
  flex: 1;
  height: auto;
  max-width: 454px;
  min-width: 284px;
  align-items: center;
  justify-content: center;
}

.container-login > div {
  box-sizing: border-box;
  background-color: #F3F3F3;
  padding: 32px 16px;
  border-radius: 16px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-title {
  font-size: 24px;
  font-weight: bold;
}

input[type=text],
input[type=password] {
font-size: 100%;
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
box-sizing: border-box;
border:none;
}

input:invalid {
border-color: red;
}

.container-divider {
margin-top: 16px;
margin-bottom: 8px;
border-bottom: 2px solid #CCC;
}

button {
width: 100%;
margin: 12px 0;
padding: 12px 20px;
font-size: 100%;
cursor: pointer;
}

.button-login {
border: none;
background-color: #577590;
color: white;
font-weight: bold;
}

.button-signup {
border: none;
background-color: #F3CA40;
color: white;
font-weight: bold;
}

button:hover {
/* Darken button */
background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

button:active {
box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
}

button:focus {
outline: none;
}

.popup {
  position: absolute;
  display: none;
  margin: 16px 0;
  border-radius:5px;
  max-width: 454px;
  padding: 12px;
  background-color:rgb(238, 238, 238);
}

#popup-close-button {
position: absolute;
border: none;
font-size: 20px;
font-weight: 800;
top: 0;
right: 0;
padding: 5px;
margin: 12px;
width: 38px;
height: 38px;
background: none;
overflow: hidden;
}

#popup-close-button:active {
box-shadow: none;
}

.form-error {
color: red;
font-size: 14px;
padding-bottom: 4px;
display: none;
}

.signup-error-message {
  color: red;
  font-size: 14px;
}

.signup-success-message {
  color: green;
  font-size: 14px;
}

.login-error-message {
  font-size: 14px;
  color: red;
}