<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/locations.css" />
    <script src="../js/locations.js" type="module"></script>
    <script src="../js/common.js" type ="module"></script>
    <title>Locations</title>
  </head>
  <body>
    <div class = "wrapper">
        <div class="container">
        <header>
            <a class = 'back-button'>Back</a>
        </header>
        </div>

        <div class = "container">
            <div id = "map-container">
                <div class = 'map' id = 'map'>

                </div>
            </div>
        </div>

        <div class = "container" id = "container">
            <div class = "restaurant-locations">
                <div class = "locations">
                    <!-- 
                    Example Location
                    <div class = "location">
                        <div class = "location-basic">
                            <div class = "location-address">123 Street

                            </div>
                            <div>Phone Number</div>
                        </div>
                        <div>Rating</div>
                        <div>Currently open</div>
                        <div>Location Hours:</div>
                    </div>   
                </div>
                -->
            </div>
        </div>
    </div>
  </body>
</html>
