body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial;
    gap: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 6px;
    /* border: 2px solid grey; */
}

button {
    border-radius: 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.container {
    width: 95%;
    max-width: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.favorite-button {
    width: 28px;
    height: 28px;
}

.restaurant-info-container {
    display: flex;
    margin-bottom: 16px;
    height: auto;
    align-items: flex-end;
}

.restaurant-logo {
    flex: 1;
    /* border: 2px solid black; */
    /* border-right: none; */
    /* vertical-align: middle; */
}

.helper-span {
    /* display: inline-block; */
    height: 100%;
    vertical-align: middle;
}

.restaurant-logo-img {
    width: 100%;
    /* display: flex; */
    /* left: 0; */
    /* vertical-align: middle; */
}

.restaurant-info {
    flex: 2;
    /* border: 2px solid black; */
    padding-left: 6px;
}

.restaurant-name {
    display: flex;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    padding: 4px 0;
    flex-wrap: wrap;
    color: #577590;
    align-content: flex-end;
    box-sizing: border-box;
}

.restaurant-info-items {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-items: left;
    height: 70%;
    box-sizing: border-box;
}

.restaurant-info-item {
    font-size: 18px;
}

.menu-items, .location-items {
    padding: 4px;
    border: 2px solid#577590;
}

.menu-item {
    margin: 8px;
    padding-bottom: 8px;
    border-bottom: 2px #577590 solid;
}

.menu-item-basic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.menu-item-basic > div {
    flex: 2;
    word-break: break-all;
}

.menu-item-name {
    font-weight: 700;
    /* color: #577590; */
    /* text-transform: lowercase; */
    display: flex;
    justify-content: space-between;
}

.menu-item-name img {
    width: 24px;
    height: 24px;
}

.menu-item-price {
    flex: 1 !important;
    text-align: end;
    font-weight: 700;
    color: rgb(33, 192, 33);
}

.menu-item-info > div {
    word-break: break-all;
}

.location-items {
    height: auto;
}

#map-container {
    height: 40vh;
    width: 100%;
    border: 2px solid grey;
    margin-bottom: 8px;
}

#map {
    height: 100%;
}

.location {
    padding: 4px;
    border-bottom: 2px solid grey;
}

.location-header {
    font-weight: bold;
    font-size: 20px;
}

.open-container {
    display: flex;
}

.empty-space {
    width: 32px;
}

header {
    display: flex;
    width: 100%;
    height: 48px;
    background-color: #f2a541;
    justify-content: space-around;
}

header > div {
    margin: 0 12px;
}

.header-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-middle {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    border-radius: 50%;
    height: 80%;
    box-sizing: border-box;
    max-width: 42px;
    vertical-align: middle; 
}

.search-button {
    height: 80%;
    max-width: 42px;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #888;
    border-radius: 0 4px 4px 0;
}

.header-middle > input {
    width: calc(100% - 42px);
    max-width: 512px;
    height: 80%;
    font-size: 20px;
    padding: 4px 8px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

input:focus {
    outline: none;
}

.sort-dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.sort-button {
    height: 100%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 6px 0;
    box-sizing: border-box;
}

.sort-dropdown-items {
    display: none;
    right: -16px;
    position: absolute;
    background-color: lightblue;
    text-align: right;
    z-index: 9;
}

.sort-dropdown:hover .sort-dropdown-items {
    display: block;
}

.sort-dropdown-items > a {
    display: block;
    text-decoration: none;
    margin: 4px 8px;
}

span {
    font-weight:600;
    color:white;
    font-size:30px;
}

.top {
    display:flex;
    justify-content:space-between
}
