body {
    margin: 0;
    font-family: Arial;
    background-color: #edf2f7;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    width: 100%;
    height: 48px;
    background-color: #CCC;
    justify-content: space-around;
}

header img {
    border-radius: 50%;
    height: 80%;
    box-sizing: border-box;
    max-width: 42px;
    vertical-align: middle; 
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 5vw;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.menu-dropdown:hover .menu-dropdown-items {
    display: block;
}

.menu-dropdown-items {
    display: none;
    right: -16px;
    position: absolute;
    background-color: #CCC;
    text-align: right;
    z-index: 9;
    width: 400px;
}

.menu-dropdown-items > a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    height: 50px;
    color: black;
}


.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5vw;
}

.main-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-areas:
        "img img account account account account"
        "img img account account account account"
        "img img allergens allergens favorites favorites"
        ". . allergens  allergens favorites favorites";
    column-gap: 40px;
    row-gap: 30px;
    margin-right: 10%;
    margin-left: 2%;
}

.image-container {
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: img;
    background-color: white;
}

.image-container img {
    display: block;
}

.account-info-container {
    flex: 1;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    grid-area: account;
    background-color: white;
}

.account-info-container h2 {
    margin-left: 20px;
}

.account-label {
    text-decoration: bold;
    font-size: 1.5em;
    margin-left: 20px;
}

.account-element {
    font-size: 1em;
    margin-right: 30px;
}

.account-row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 17%;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.account-row:last-child, .favorites-row:last-child, .allergens-row:last-child {
    border-bottom: none;
}

.favorites-container {
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    grid-area: favorites;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.favorite-row {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    object-fit: contain;
    height: 70px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.favorite-row img {
    float: left;
    max-width: 100px;
    max-height: 100%;
    width: auto;
}

.favorites-container h2 {
    margin-left: 20px;
}

.favorite-row  span {
    font-size: 1.5em;
}

.allergens-container {
    flex: 1;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    grid-area: allergens;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.allergens-container h2 {
    margin-left: 15px;
}
.allergens-row{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.allergens-row span {
    font-size: 1.5em;
    margin-left: 15px;
}







