body {
  font-family: Arial;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 > span {
font-style: italic; 
}

h2 {
text-align: center;
}

.container {
padding: 16px;
border: 2px solid #CCC;
border-radius: 16px;
max-width: 512px;
/*text-align: center;*/
}

input[type=text],
input[type=password] {
font-size: 100%;
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
box-sizing: border-box;
}

input:invalid {
border-color: red;
}

.container-divider {
margin-top: 16px;
margin-bottom: 8px;
border-bottom: 2px solid #CCC;
}

button {
width: 100%;
margin: 12px 0;
padding: 12px 20px;
font-size: 100%;
cursor: pointer;
}

.button-login {
border: none;
background-color: #186bd8;
color: white;
font-weight: bold;
}

.button-signup {
border: none;
background-color: #18d86b;
font-weight: bold;
}

button:hover {
/* Darken button */
background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

button:active {
box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
}

button:focus {
outline: none;
}

.popup {
position: absolute;
display: none;
margin-top: 16px;
background-color:rgb(238, 238, 238);
}

#popup-close-button {
position: absolute;
border: none;
font-size: 20px;
font-weight: 800;
top: 0;
right: 0;
padding: 5px;
margin: 12px;
width: 38px;
height: 38px;
background: none;
overflow: hidden;
}

#popup-close-button:active {
box-shadow: none;
}

#username:valid ~ .form-error {
  display: none;
}

#username:invalid ~ .form-error {
  display: block;
}

#password-conf:valid ~ .form-error {
display: none;
}

#password-conf:invalid ~ .form-error {
display: block;
}

.form-error {
color: red;
font-size: 14px;
padding-bottom: 4px;
display: none;
}

.signup-error-message {
  color: red;
  font-size: 14px;
}

.signup-success-message {
  color: green;
  font-size: 14px;
}

.login-error-message {
  font-size: 14px;
  color: red;
}